.Button {
  background-color: #6bb07c;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  font-family: "SUITE Variable";
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.Button_White {
  background-color: #faf9f6;
  color: #828282;
}
