@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Jamsil-Regular;
  font-weight: 300;
  src: url("./assets/fonts/TheJamsil-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Jamsil-Medium;
  font-weight: 300;
  src: url("./assets/fonts/TheJamsil-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Jamsil-Bold;
  font-weight: 300;
  src: url("./assets/fonts/TheJamsil-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Suite;
  font-weight: 300;
  src: url("./assets/fonts/SUITE-Variable.ttf") format("truetype");
}

html,
body {
  height: 100%;
  margin: 0px;
  width: 100%;
  background-color: rgb(246, 246, 246);
}

#root {
  background-color: #faf9f6;
  max-width: clamp(360px, 100vw, 412px);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}
